{% extends 'base.html' %}
{% load static %}
{% block content %}

<div style='text-align: center;'>
    <p style='font-size: 20px; padding-top: 100px;'>계속 작성하시겠습니까?</p>
    <div style='padding-top: 50px; display: flex; justify-content: center;'>
        <div style='width: 300px;'>
            <button class='btn btn-warning col-8 rounded-pill'><a href="{% url 'diaryapp:select_who' pk=pk %}" style='text-decoration: none; color:black;'>예</a></button>
        </div>
        <div style='width: 300px;'>
            <button class='btn btn-info col-8 rounded-pill'><a href="{% url 'diaryapp:read' pk=pk %}" style='text-decoration: none; color:black;'>아니요</a></button>
        </div>
    </div>
</div>

{% endblock %}