{% extends 'base.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>

<div style='text-align: center;'>
    <h3 style='padding-top: 50px;'>Create Diary Select(Who?)</h3>

    <form action="{% url 'crossdiaryapp:select_who' pk=pk %}" method='post'>
        {% csrf_token %}
        <div style='padding-top: 70px;'>
            <p><strong style='color: #1E90FF; font-size: 30px;'>누가</strong> 어떤일이 있었는지 선택해주세요</p>
        </div>
        <div style='padding-top: 30px;'>
            <input type="submit" value='내가' name='me' class='button_select1'>
            <input type="submit" value='친구가' name='friend' class='button_select2'>
        </div>
        <div style='padding-top: 30px;'>
            <input type="submit" value='아빠가' name='father' class='button_select3'>
            <input type="submit" value='엄마가' name='mother' class='button_select4'>
        </div>
        <div style='padding-top: 30px;'>
            <input type="submit" value='여친이' name='girlfriend' class='button_select5'>
            <input type="submit" value='남친이' name='boyfriend' class='button_select6'>
        </div>
        <div style='padding-top: 30px;'>
            <input type="text" name='self_input' class='input_text_select'>
            <input type="submit" value='기타' name='etc' class='btn btn-secondary col-1 rounded-pill'>
        </div>
    </form>
</div>


{% endblock %}