{% extends 'base.html' %}
{% load static %}
{% block content %}

<script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script>

<div style='text-align: center;'>
    <h3 style='padding-top: 50px;'>Create Diary Select(Why?)</h3>

    <form action="{% url 'crossdiaryapp:select_why' pk=pk %}" method='post'>
        {% csrf_token %}
        <div style='padding-top: 70px;'>
            <p><strong style='color: #1E90FF; font-size: 30px;'>왜</strong> 그 일을 하셨는지 간단하게 설명해주세요</p>
        </div>
        <div style='padding-top: 30px;'>
            <input type="text" name='self_input' class='input_text_select'>
            <input type="submit" value='작성' name='etc' class='btn btn-secondary col-1 rounded-pill'>
        </div>
    </form>
</div>

{% endblock %}